{% extends "layout.html.twig" %}
{% block title %}Home{% endblock %}

{% block content %}
    <br/>
    <div class="container">
        <br>
        <div class="row">
            {% for basket in baskets %}
                <p>{{ basket.title }}  {{ basket.quantity }} {{ basket.value }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}