{% extends "layout.html.twig" %}
{% block title %}Home{% endblock %}

{% block content %}
        <div class="container">
            <div class="row">
                {% for categorie in categories %}
                <div class="col-md-4">
	               <h2><a class="thumbnail" href="{{ path('categorie', { 'id': categorie.id }) }}">{{ categorie.title }}</a></h2>
                </div>
                {% endfor %}
            </div>
        </div> 
{% endblock %}