{% extends "layout.html.twig" %}
{% block title %}Home{% endblock %}

{% block content %}
	{% for categorie in categories %}
		<article>
		<h2><a class="categorieTitle" href="{{ path('categorie', { 'id': categorie.id }) }}">{{ categorie.title }}</a></h2>
		</article>
	{% endfor %}
{% endblock %}