/*arrier plan */
.whiteBackGround{
    padding-top: 50px; 
    background-color : white;
    
    color: black;
}
.darkBackGround{
    padding-top: 50px; 
    background-color: black;
    color: white;
}
.homebackground{
    padding-top: 50px; 
    background-image: url('../images/eau_et_feu.jpg');
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100%;
    color: white;
}

/*affichage des image dans categorie*/
.thumbnail {
    min-height: 300px;
    background-color: transparent;
}
.thumbnail img {
    front-size: 100%;
}

/*affichage des image dans index*/
.thumbnail_font {
    min-height: 300px;
    color: white;
}
.thumbnail_font img {
    width: 550px;
    height: 550px;
    opacity: 1;
}


	
/*Affichage administratif*/
.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}
#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}



/*Pour l'affichage dans article.html*/
.jumbotron img {
    width: 350px;  
}

/*footer*/
.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    bottom: 0;
    left: 0; right: 0;
}

h2{
    text-align: center;
}

.titre_categorie{
    text-align: left;
    font-size: large;
    font-weight: bold;
}
.valeur_categorie{
    text-align: right;
    color: red;
    font-size: x-large;
}