.whiteBackGround{
    padding-top: 50px; 
    background-color: white;
    color: black;
}
.darkBackGround{
    padding-top: 50px; 
    background-color: black;
    color: white;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.thumbnail {
    text-align: center;
    min-height: 300px;
    
    text-decoration: underline;
}
.thumbnail_font {
    text-align: center;
    min-height: 300px;
    color: white;
    text-decoration: underline;
}

.thumbnail_font img {
    width: 550px;
    height: 550px;
}

.thumbnail img {
    front-size: 100%;
}
	
.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}
.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}